*{
    margin: 0px;
    padding: 0px;
    font-family:"Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border-bottom: 1px whitesmoke;
}

.header_left{
display: flex;
align-items: center;
}

.header_left span{
    padding: 5px;
    cursor: pointer;
}
.header_middle{
    border: none;
    outline: none;
    align-content: center;
    display: flex;
    flex:0.7;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}



.search{
    position:absolute;
    padding-top: 7px;
    padding-left: 7px;
}

#bar{
    text-align: center;
    width: 800px;
    height: 30px;
    border-radius: 10px;
    border-color: gray;
    cursor: text;
    font-size: large;
}

.arrows{
    padding-top:5px;
    position: absolute;
    text-align: center;
    padding-left: 780px;
    padding-top: 8px;
    
}


.header_right{
    padding-right: 10px;
    cursor: pointer;
    justify-content:end;
}
#support{
    display: flex;
    align-items: center;
    padding-left: 0px;
    padding-right: 20px;
}
#settings{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
#menu{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
#profile{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.main_body{
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    /* margin-bottom: 15px; */
    width: 100px;
    height: 300px;
    text-transform: capitalize;
    color: gray;
    
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    

    font-size: 20px;
}
#foo{
    padding-top: 6px;
    
}
.compose{
    background-color:#c7e4fb;
    font-size: 19px;
    border-radius: 10px;
    padding-bottom: 20px;
    width: 150px;
    height: 40px;
    cursor:pointer;
    border: 1px solid black;
}
.compose:hover{
    color: #1646cb;
}

.inbox{
    padding-top: 20px;

}


.number{
    width: 200px;
    align-items: end;
    align-content: end;
    background-color:rgb(199, 213, 249) ;
    border-radius: 10px;

}
.inbox{
    font-size: 20px;
    color:rgb(90, 87, 87);
    padding-top: 20px;
    padding-left: 2px;
}

.starred{
    font-size: 20px;
    color:rgb(75, 75, 75);
    padding-top: 10px;
}

.snoozed{
    font-size: 20px;
    color:rgb(75, 75, 75);
    padding-top: 10px;
}
.sent{
    font-size: 20px;
    color:rgb(75, 75, 75);
    padding-top: 10px;
    padding-left: 2px;
}
.drafts{
    font-size: 20px;
    color:rgb(75, 75, 75);
    padding-top: 10px;
}
.more{
    font-size: 20px;
    color:rgb(75, 75, 75);
    padding-top: 10px;
    padding-left: 1px;
}

.emailList{
    padding-left: 10px;
    
}

.left{
    display: flex;
    padding-left: 30px;
    justify-content:end;
    
}
.right{
    display: flex;
    justify-content:flex-start;
    padding-left: 30px;
    padding-top: 10px;
    
}
#arrow{
    padding-left: 20px;
    padding-bottom: 5px;
}

#refresh{
    padding-left: 20px;
    padding-top: 0px;
}
.cb{
    padding-bottom: 10px;
}
#more{
    padding-left: 20px;
    padding-top: 0px;
}

#lar{
    padding-left: 900px;
    padding-bottom: 10px;
}

.cent{
    width: 1100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color:whitesmoke;
}

.section{
    font-size: 12px;
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    padding: 5px;
    cursor: pointer;
    color: gray;
    min-height: 30px;
    border-width: 0;
}

.email_sections{
    padding-top: 0px;
    position: sticky;
    
    display: flex;
    background-color: white;
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
   
}

#primary{
    color: #48a1ea;
    contain: strict;

    
}

#promotion{
    color: #48a1ea;
    padding-left: 100px;
}
#social{
    color: #48a1ea;
    padding-left: 100px;
}

#text_p{
    color: #2d8ddb;
    text-decoration: underline;
    padding-left: 10px;
    padding-bottom: 3px;
}

#pro{
    padding-left: 10px;
}

#soc{
    padding-left: 10px;
}

a{
    color: gray;
}
a:hover{
    color: #2d8ddb;
    text-decoration: none;
}
a{
    text-decoration: none;
}

.list{
    text-align: left;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
.row_options{
    text-decoration: solid;
    padding-left: 5px;
    display: flex;
    }

#check{
        padding-left: 10px;
        display: flex;
    }

#star{
        padding-left: 10px;
    }
#label{
    padding-left: 10px;
}


.row_item{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding-left: 20px;
        
    }
.row_message{
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index:999 ;
    padding-left: 20px;
    width: 892px;
    
    
}

.row_time{
    text-align:left;
    padding-left: 2px;
}



.one{
    padding-top: 30px;
    background-color:whitesmoke;
   
    border: none;
    border-collapse: collapse;
}
.one :hover{
    background-color: #c7e4fb;
    border-collapse: collapse;
}
.two{
    background-color: whitesmoke;
   
    border: none;
    border-collapse: collapse;
}
.two :hover{
    background-color: #c7e4fb;
    border-collapse: collapse;
}
